@import "progress-style";
@import "variable";
//colors

.page-heading-style {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
  color: $color_cod_gray_approx;
  line-height: 35px;
}

.content-section-styling {
  width: calc(100% - 200px);
  padding: 20px 35px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background: $color_porcelain_approx 0 0 no-repeat padding-box;
}

.search-bar-design {
  height: 40px;
  background: $white 0 0 no-repeat padding-box;
  box-shadow: 0 1px 1px #0000000f;
  border-radius: 6px;
  border: 0 solid transparent;
  outline: 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 15px 40px;
  //opacity: 0.48;
  color: rgb(20, 13, 50, 1);
  width: 100%;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 16px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  //Instead of the line below you could use @include background-origin($origin)
  background-origin: padding-box;
  background-color: transparent;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: padding-box;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAABHNCSVQICAgIfAhkiAAAAWBJREFUOE/Fk+FRg0AQRnM0INCASQUhHYQGnKSC2IGxArECUwJWYGYsIJSAFYQKIDYAvo+5Y4AhcfwlMwy7e/u93btbzGz0+L6/9jxv1zTNmqW5Xc7wj9jvF56+xDgHoW+M+cCX8BtbgkLriDd8lrwX7C2MzOlagBWfMBckJCQcpjoDqvjSQlRg1gKCIBAxUtuI87F41KVy78ldkVsY7RnyicDzVOWJTrTVQlssy/LRhGGYqnJVVe7ArjXQxdEc0DyhMYb2RctE+1VpE3pdxwI0AF4BJP8G0KnesZ/VHzrY0/Ub57DQLTgn7g/ILZjOTUNF0UiA9loInCEKMhjVMYgbSMh7sbmZm8R2FkjOb0Hc9ZH3SfWHbhJl0MgGSIqpW0nrum5H1T4RsT22ZqXk9WyhvPuZLGTOn6gWdxNn8EVckFxzw1fjHA8AfZGGpecXmnvn23MTxL8KmOhgEBJEW/oBLiPQha2U6yYAAAAASUVORK5CYII=");
}

.search-filter-utility {
  position: relative;
}

.filter-date-type {
  background: $white 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 1px rgb(0 0 0 / 6%);
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  outline: 0;
  border: 0 solid transparent;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  height: 40px;
  letter-spacing: 0;
  color: $color_haiti_approx;
  width: 100%;
  padding: 14px 0 12px 40px;
}

.filter-control-feedback {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAABHNCSVQICAgIfAhkiAAAAZJJREFUOE/tU00vA2EQnilSB6LHXnwcJBwc1B9QV6RbLrol0V9At+LkUmdpdntxcdBGtIToB3cOfgCJa0UiceBCXBzaHc9uLe0SKnE0yZN3Z+Z9n3d23nmYXKbqpQoxbebjSqoxNW+Up02R3Wpbx+DB0uRDY44dJ6IXgkSecQSSiN0ScaWJn8VPQsOIHWI9ySeUrJO3SXB7Bssi8AR0AXfAtatIP/wh4BnoBi68ZE5ktJlHVvVynEh03KzltZABwntm3srFQ2uNJKpRWkAFO+3M/VXhMSKzgHw2rykxkJTO4PjgjFqHIqli795KGL/z2eY2jkb2V2ev3qo3sC7jHFskAicNBxW1blG9HBOSbSYz4JA0n2Z6+ZJOqNMdr5kyVSdhPkfSQsuGF+kTkaiguTYJAus5TUm2zGD1DiPB5Dn9J/no2p/0xD0n1sT2YNgCv3kdvGrjxNa1w0LxXEJJt0Lk/Mq7dmy96KUiZkXB5w2ECHxn4kPW0tklVBy0VexsV/XjMJQJ0MDP1XDRS7WMRWDtfQVCXceEk7KnoQAAAABJRU5ErkJggg==");
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 18px;
  margin-left: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
  //Instead of the line below you could use @include background-origin($origin)
  background-origin: padding-box;
  background-color: transparent;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: padding-box;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.toggle-style {
  background: $white 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 1px $black_6;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  .active {
    background: $color_hippie_blue_approx 0 0 no-repeat padding-box;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 7px;
    padding: 5px 8px;
  }

  button {
    border: 0 solid transparent;
    outline: 0 solid transparent;
    padding: 0;
    background: transparent;
  }
}

.list-layout-style {
  background: transparent;
}

.individual-load-detail {
  background: $white 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 1px rgb(0 0 0 / 6%);
  padding: 17px;
  border-bottom: 2px solid $gallery_100;

  .row.early-details {
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.load-name-style {
  text-align: left;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  color: $color_bali_hai_approx;
}

.load-weight-style {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  color: $color_cod_gray_approx;
}

.load-bids-btn {
  background: transparent linear-gradient(242deg, $color_seagull_approx 0, $color_hippie_blue_approx 100%) 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
  outline: 0;
  border: 0;
  color: $white;

  &:focus {
    background: transparent linear-gradient(242deg, $color_seagull_approx 0, $color_hippie_blue_approx 100%) 0 0 no-repeat padding-box;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 8px;
    outline: 0;
    border: 0;
    color: $color_barley_white_approx;
  }
}

.straight-bordering {
  border-left: 1px dashed $color_bali_hai_approx;
  height: 23px;
  width: 1px;
  display: block;
  position: relative;
  margin-left: 8px;
}

.address-styling {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 15px;
  letter-spacing: 0;
  color: $color_cod_gray_approx;
}

.lowest-bid-style {
  background: $color_link_water_approx 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 17px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: $color_hippie_blue_approx;
  width: 100%;
  padding: 7.5px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  .bolder {
    font-weight: 600;
  }
}

.bid-status {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
  color: $color_hippie_blue_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 17px;
  padding: 6px 15px;
  vertical-align: super;

  &.open {
    background-color: $color_link_water_approx;
    color: $color_hippie_blue_approx;
  }

  &.closed {
    background-color: $color_thunderbird_approx;
    color: $white;
  }
}

.time-left-heading {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  color: $color_bali_hai_approx;
  margin-bottom: 0;
}

.time-left-value-style {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 0;
  color: $black_100;
}

.individual-progress-detail {
  padding: 17px 14px;
  background: $white 0 0 no-repeat padding-box;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 1px $black_6;
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 12px;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.positioning-direction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
}

.search-result {
  background: $white;
  padding: 20px 15px;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  width: 96%;
  z-index: 8;
  border: 1px solid $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  display: none;

  &.opened {
    display: block;
  }

  .search-category {
    background: $white;
  }

  ul.search-category {
    //padding-left: 0;
    li {
      list-style: none;
      font-size: 12px;

      a {
        text-decoration: none;
        font-size: 12px;
      }
    }
  }
}

.category-name-style {
  font-size: 14px;
}

.sorting-icon {
  &.down {
    width: 9px;
    height: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    //Instead of the line below you could use @include background-origin($origin)
    background-origin: padding-box;
    background-color: transparent;
    //Instead of the line below you could use @include background-clip($clip)
    background-clip: padding-box;
    display: inline-block;
    background-image: url('../images/sorting-icon-down.svg');
  }

  &.up {
    width: 9px;
    height: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    //Instead of the line below you could use @include background-origin($origin)
    background-origin: padding-box;
    display: inline-block;
    background-image: url('../images/sorting-icon-down.svg');
    background-color: transparent;
    background-clip: padding-box;
    transform: rotateX(180deg);
  }
}

.tabular-view thead.layout-heading-style {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  cursor: pointer;
  color: $color_cod_gray_approx;
  opacity: 1;
}

.tabular-view tbody .generic-text-style {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(17, 17, 17, 1);
}


.bordered-gap.horizantal {
  border-top: 1px dashed #8698AD;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}


.bids-count-styling {
  text-align: left;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #598FB1;
}


.internal-pill.open {
  padding: 3px 10px;
  color: $white;
  border-radius: 15px;
  background: $color_hippie_blue_approx 0% 0% no-repeat padding-box;

  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
}

.internal-pill.closed {
  padding: 3px 10px;
  color: $white;
  border-radius: 15px;
  background: rgba(220, 220, 220, 1) 0% 0% no-repeat padding-box;

  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
}


.load-pill.open {
  background-color: $color_seagull_approx;
  border-radius: 15px;

  padding: 0 0;
  vertical-align: middle;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.load-pill.closed {
  background-color: rgba(159, 159, 159, 1);
  border-radius: 15px;

  padding: 0 0;
  vertical-align: middle;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.each-table-row-load:hover .deletion-icon-style:active::before, .each-table-row-load:hover .deletion-icon-style:active::before {
  content: "\f2ed";
  font-family: "Font Awesome 5 Free";
  color: rgba(223, 69, 69, 1);
  padding: 10px 10px;
  background-color: $color_newyorkpink_approx;

  padding: 8px 10px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
}

.each-table-row-load:hover .deletion-icon-style::before {
  content: "\f2ed";
  opacity: 1;
  color: rgba(134, 152, 173, 1);
  font-family: "Font Awesome 5 Free";
  border-radius: 50%;


  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;

}

.each-table-row-load .deletion-icon-style::before {
  content: "\f2ed";
  opacity: 1;
  color: rgba(134, 152, 173, 1);
  font-family: "Font Awesome 5 Free";
  border-radius: 50%;


  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;

}

.each-table-row-load:hover .deletion-icon-style::before {
  background-color: rgb(232, 232, 232);
}

.each-table-row-load td {
  padding: 15px 12px;
  vertical-align: middle;
}

tr.each-table-row-load {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 10px 0px;
}

tr.each-table-row-load {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;

}


.tabular-view .table {
  border-collapse: inherit;
  border-spacing: 0em;
  border-spacing: 0 15px;
}

.time-remaining-box {
  background: $white 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.time-remaining-box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}


.awarded-style {
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0px;
  color: #8698ad;
  clear: both;
  display: block;
}

.star-awarded {
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-color: transparent;
  background-position: 0% 0%;
  background-clip: padding-box;
  display: inline-block;

}


.star-awarded {
  background-image: url("../images/star-awarded.svg");
  height: 33px;
  width: 33px;
}
