@import "progress-style";

.page-heading-style {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
  color: #111111;
  line-height: 35px;
}


.content-section-styling {
  //margin-top: 20px;
}


.content-section-styling {
  width: calc(100% - 200px);
  padding: 20px 35px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;

  background: rgba(248, 250, 251, 1) 0% 0% no-repeat padding-box;
}


.search-bar-design {
  height: 40px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000000f;
  border-radius: 6px;
  border: 0px solid transparent;
  outline: 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 15px 40px;
  //opacity: 0.48;

}

.search-bar-design {
  color: rgb(20, 13, 50, 1);
  width: 100%;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 16px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
}

.form-control-feedback {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAABHNCSVQICAgIfAhkiAAAAWBJREFUOE/Fk+FRg0AQRnM0INCASQUhHYQGnKSC2IGxArECUwJWYGYsIJSAFYQKIDYAvo+5Y4AhcfwlMwy7e/u93btbzGz0+L6/9jxv1zTNmqW5Xc7wj9jvF56+xDgHoW+M+cCX8BtbgkLriDd8lrwX7C2MzOlagBWfMBckJCQcpjoDqvjSQlRg1gKCIBAxUtuI87F41KVy78ldkVsY7RnyicDzVOWJTrTVQlssy/LRhGGYqnJVVe7ArjXQxdEc0DyhMYb2RctE+1VpE3pdxwI0AF4BJP8G0KnesZ/VHzrY0/Ub57DQLTgn7g/ILZjOTUNF0UiA9loInCEKMhjVMYgbSMh7sbmZm8R2FkjOb0Hc9ZH3SfWHbhJl0MgGSIqpW0nrum5H1T4RsT22ZqXk9WyhvPuZLGTOn6gWdxNn8EVckFxzw1fjHA8AfZGGpecXmnvn23MTxL8KmOhgEBJEW/oBLiPQha2U6yYAAAAASUVORK5CYII=');
}

.search-filter-utility {
  position: relative;
}


.filter-date-type {
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 6%);
  border-radius: 6px;
  outline: 0;
  border: 0px solid transparent;
  text-align: left;
  width: 100%;
  font-size: 11px;
  line-height: 18px;
  height: 40px;
  letter-spacing: 0px;
  color: #140d32;
  width: 100%;
  padding: 14px 0px 12px 40px;
}

.filter-control-feedback {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAABHNCSVQICAgIfAhkiAAAAZJJREFUOE/tU00vA2EQnilSB6LHXnwcJBwc1B9QV6RbLrol0V9At+LkUmdpdntxcdBGtIToB3cOfgCJa0UiceBCXBzaHc9uLe0SKnE0yZN3Z+Z9n3d23nmYXKbqpQoxbebjSqoxNW+Up02R3Wpbx+DB0uRDY44dJ6IXgkSecQSSiN0ScaWJn8VPQsOIHWI9ySeUrJO3SXB7Bssi8AR0AXfAtatIP/wh4BnoBi68ZE5ktJlHVvVynEh03KzltZABwntm3srFQ2uNJKpRWkAFO+3M/VXhMSKzgHw2rykxkJTO4PjgjFqHIqli795KGL/z2eY2jkb2V2ev3qo3sC7jHFskAicNBxW1blG9HBOSbSYz4JA0n2Z6+ZJOqNMdr5kyVSdhPkfSQsuGF+kTkaiguTYJAus5TUm2zGD1DiPB5Dn9J/no2p/0xD0n1sT2YNgCv3kdvGrjxNa1w0LxXEJJt0Lk/Mq7dmy96KUiZkXB5w2ECHxn4kPW0tklVBy0VexsV/XjMJQJ0MDP1XDRS7WMRWDtfQVCXceEk7KnoQAAAABJRU5ErkJggg==')
}

.filter-control-feedback {
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 18px;
  margin-left: 11px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.toggle-style {
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;

  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.toggle-style .active {
  background: rgba(89, 143, 177, 1) 0% 0% no-repeat padding-box;
  border-radius: 7px;

  padding: 5px 8px;
}

.toggle-style button {
  border: 0px solid transparent;
  outline: 0px solid transparent;
  padding: 0px;
}

.list-layout-style {
  background: transparent;
}

.individual-load-detail {
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 6%);
  padding: 17px 17px;
  border-bottom: 2px solid rgba(239, 239, 239, 1);
}

.individual-load-detail .row.early-details {
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.load-name-style {
  text-align: left;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(134, 152, 173, 1);
}


.load-weight-style {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0px;
  color: rgba(17, 17, 17, 1);
}


.load-bids-btn {
  background: transparent linear-gradient(242deg, rgba(118, 184, 226, 1) 0%, rgba(89, 143, 177, 1) 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  outline: 0px;
  border: 0px;
  color: #FFFFFF;

}

.load-bids-btn:focus {
  background: transparent linear-gradient(242deg, rgba(118, 184, 226, 1) 0%, rgba(89, 143, 177, 1) 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  outline: 0px;
  border: 0px;
  color: #fff3cd;

}


.straight-bordering {

  border-left: 1px dashed #8698ad;
  height: 23px;
  width: 1px;
  display: block;
  position: relative;
  margin-left: 8px;
}


.address-styling {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 15px;
  letter-spacing: 0px;
  color: rgba(17, 17, 17, 1)
}


.lowest-bid-style {
  background: rgba(217, 235, 246, 1) 0% 0% no-repeat padding-box;
  border-radius: 17px;

  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: rgba(91, 146, 181, 1);

  width: 100%;
  padding: 7.5px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.lowest-bid-style .bolder {
  font-weight: 600;
}

.bid-status {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
  color: rgba(89, 143, 177, 1);
  border-radius: 17px;
  padding: 6px 15px;
  vertical-align: super;
}

.bid-status.open {
  background-color: rgba(217, 235, 246, 1);
  color: rgba(89, 143, 177, 1);
}


.bid-status.closed {
  background-color: rgba(217, 30, 24, 1);
  color: rgba(255, 255, 255, 1);
}

.time-left-heading {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(134, 152, 173, 1);
  margin-bottom: 0;
}

.time-left-value-style {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 1);
}

.individual-progress-detail {
  padding: 17px 14px;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;


}

.individual-progress-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.positioning-direction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
}

.search-result {
  background: #FFFFFF;
  padding: 20px 15px;


  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  width: 96%;
  z-index: 8;
  border: 1px solid #EEE;
  border-radius: 4px;
  display: none;
}

.search-result.opened
{
  display: block;
}

.search-result .search-category {
  background: #FFFFFF;

}

.search-result ul.search-category {
  //padding-left: 0;
}

.search-result ul.search-category li {
  list-style: none;
  font-size: 12px;
}


.search-result ul.search-category li a {
  text-decoration: none;
  font-size: 12px;
}

.category-name-style
{
font-size: 14px;
}


