$color_cod_gray_approx: rgba(17, 17, 17, 1);
$color_porcelain_approx: rgba(248, 250, 251, 1);
$white: rgba(255, 255, 255, 1);
$color_haiti_approx: rgba(20, 13, 50, 1);
$black_6: rgba(0, 0, 0, 0.06);
$color_hippie_blue_approx: rgba(89, 143, 177, 1);
$gallery_100: rgba(239, 239, 239, 1);
$color_bali_hai_approx: rgba(134, 152, 173, 1);
$color_seagull_approx: rgba(118, 184, 226, 1);
$color_barley_white_approx: rgba(255, 243, 205, 1);
$color_link_water_approx: rgba(217, 235, 246, 1);
$color_thunderbird_approx: rgba(217, 30, 24, 1);
$color_newyorkpink_approx:rgb(224, 130, 131, 1);
$black_100: rgba(0, 0, 0, 1);
$color_gallery_approx: rgba(238, 238, 238, 1);

