.chat-icon-background {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;

  min-height: 580px;
  height: 100%;
  background-size: cover;

}

.chat-icon-background {
  background-image: url('../images/chat-popup-image.svg');
}

.chat-icon-background-secondary {
  min-height: 600px;
  height: 100%;
  background-image: url('../images/chat-popup-image-2.svg');
}

.avatar-styling {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.modal-content {
  border-radius: 16px;
}

.connectivity-status.online {

  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #45B64D;

}

.connectivity-status.online::before {
  width: 9px;
  content: '';
  height: 9px;
  background: #45B64D 0% 0% no-repeat padding-box;
  border-radius: 50%;

  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.connectivity-status.offline {

  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(192, 57, 43, 1);

}

.connectivity-status.offline::before {
  width: 9px;
  height: 9px;
  background: rgba(192, 57, 43, 1) 0% 0% no-repeat padding-box;
  border-radius: 50%;

  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

@media (min-width: 576px) {

  #chatPopup .modal-dialog {
    max-width: 801px;
  }

  #loadPopup .modal-dialog {
    max-width: 801px;
  }

  #acceptBidModal .modal-dialog {
    max-width: 490px;
  }


  .chat-icon-background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 259px;
  }


  #loadPopup .modal-body {
    padding: 0px;
  }

  #chatPopup .modal-body {
    padding: 0px;
  }

}


.chat-detail-section {
  padding-left: 25px;
  padding-right: 25px;
}

.chat-person-name {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #140D32;
  margin-bottom: 0;
}


.close-modal {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background: transparent url('../images/closing-icon.svg') 0% 0% no-repeat padding-box;
}


.pill-style-bid {
  text-align: center;
  letter-spacing: 0px;
  font-size: 12px;
  padding: 4px 14px;
  font-weight: 300;
}

.pill-style-bid.lowest {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border-radius: 13px;
  color: #598FB1;
}

.pill-style-bid.general {
  background: #E9E9E9 0% 0% no-repeat padding-box;
  border-radius: 13px;
  color: #000000;
}

.order-detail-section {
  padding-left: 25px;
  padding-right: 25px;
}

.chat-type-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 11px 22px;
}


.send-text-icon {
  background-image: url("../images/send-chat-message.svg");
  display: inline-block;
  height: 37px;
  width: 37px;
  vertical-align: middle;
}


#chat-input-bar {
  outline: 0;
  border: 0px;
  height: 38px;
  width: calc(100% - 42px);
}

.individual-message-person {
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #001940;
  margin-bottom: 10px;
}

.individual-message-time {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #8698AD;
  opacity: 1;
}

.individual-message .individual-message-content {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.individual-message.outgoing .individual-message-content span {
  padding: 8px 16px;
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  letter-spacing: 0;
  color: #598FB1;

}

.individual-message.incoming .individual-message-content span {
  padding: 8px 16px;
  background: #F8F8F9 0% 0% no-repeat padding-box;
  border-radius: 4px;
  letter-spacing: 0;
  color: #001940;
}

.chat-all-messages {
  padding: 15px 25px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: calc(100% - 180px);
  max-height: calc(100% - 180px);

}

.individual-message.outgoing {
  /* text-align: right; */
  float: right;
}


.load-input-section {
  padding: 25px 25px;
}

.load-heading-name {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #111111;
  margin-bottom: 0;
}


.circular-step-count {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #DBDBDB;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-radius: 50%;
  padding: 7px 15px;
}

.circular-step-count.active {
  border-color: rgba(89, 143, 177, 1);
  border-top-style: solid;
  color: rgba(89, 143, 177, 1);
}

.wizard-bar-section .linebar {
  border: 2px solid rgba(219, 219, 219, 1);
  display: inline-block;
  width: 295px;
}

.circular-step-name {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.54);
}

.circular-step-name.active {
  color: rgba(89, 143, 177, 1);

}


.input-create-load {
  height: 40px;
  border: 1px solid rgba(236, 236, 236, 1);
  border-radius: 8px;
}


.form-section-load .input-create-load.date-type {


  background-repeat: no-repeat;
  background-position: 8px 9px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAABHNCSVQICAgIfAhkiAAAAZJJREFUOE/tU00vA2EQnilSB6LHXnwcJBwc1B9QV6RbLrol0V9At+LkUmdpdntxcdBGtIToB3cOfgCJa0UiceBCXBzaHc9uLe0SKnE0yZN3Z+Z9n3d23nmYXKbqpQoxbebjSqoxNW+Up02R3Wpbx+DB0uRDY44dJ6IXgkSecQSSiN0ScaWJn8VPQsOIHWI9ySeUrJO3SXB7Bssi8AR0AXfAtatIP/wh4BnoBi68ZE5ktJlHVvVynEh03KzltZABwntm3srFQ2uNJKpRWkAFO+3M/VXhMSKzgHw2rykxkJTO4PjgjFqHIqli795KGL/z2eY2jkb2V2ev3qo3sC7jHFskAicNBxW1blG9HBOSbSYz4JA0n2Z6+ZJOqNMdr5kyVSdhPkfSQsuGF+kTkaiguTYJAus5TUm2zGD1DiPB5Dn9J/no2p/0xD0n1sT2YNgCv3kdvGrjxNa1w0LxXEJJt0Lk/Mq7dmy96KUiZkXB5w2ECHxn4kPW0tklVBy0VexsV/XjMJQJ0MDP1XDRS7WMRWDtfQVCXceEk7KnoQAAAABJRU5ErkJggg==");
  background-attachment: scroll;
  padding-left: 30px;

}

.input-create-load {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: rgba(17, 17, 17, 1);
}

.form-section-load {
  .input-create-load.time-type {
    background-repeat: no-repeat;
    background-position: 8px 9px;
    background-image: url("../images/clock-icon.svg");
    background-attachment: scroll;
    padding-left: 30px;
  }
}


.signup-button-style .continue-icon {
  margin-left: 10px;
  background: transparent url("../images/continue-error.svg") 0% 0% no-repeat padding-box;
  display: inline-block;
  width: 5px;
  height: 9px;


}

.button-styling-continue {
  padding: 11px 88px !important;
}

.invite-message-heading {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0;
  color: rgba(17, 17, 17, 1);
}

.invite-message-paragraph {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: rgba(17, 17, 17, 1);
}

.acceptance-section {
  width: 100%;
}


.content-acceptance-region {
  max-width: 280px;
  display: block;
  margin: 0 auto;
}

.content-acceptance-region h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 0px;
  color: #111111;
}

.outline-btn-blue {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #598FB1;

  border: 1px solid #598FB1;
border-radius: 6px;
  background-color: transparent;
    font-weight: 300;
  padding: 12px 60px;
}

.fill-btn-blue {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
background: #598FB1 0% 0% no-repeat padding-box;
border: 1px solid #598FB1;
border-radius: 6px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-weight: 300;
    padding: 12px 60px;

}

.btn-region-accept
{
  text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}
