@charset "UTF-8";
.chat-icon-background {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  min-height: 580px;
  height: 100%;
  background-size: cover;
}

.chat-icon-background {
  background-image: url("../images/chat-popup-image.svg");
}

.chat-icon-background-secondary {
  min-height: 600px;
  height: 100%;
  background-image: url("../images/chat-popup-image-2.svg");
}

.avatar-styling {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.modal-content {
  border-radius: 16px;
}

.connectivity-status.online {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #45B64D;
}

.connectivity-status.online::before {
  width: 9px;
  content: "";
  height: 9px;
  background: #45B64D 0% 0% no-repeat padding-box;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.connectivity-status.offline {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #c0392b;
}

.connectivity-status.offline::before {
  width: 9px;
  height: 9px;
  background: #c0392b 0% 0% no-repeat padding-box;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

@media (min-width: 576px) {
  #chatPopup .modal-dialog {
    max-width: 801px;
  }

  #loadPopup .modal-dialog {
    max-width: 801px;
  }

  .chat-icon-background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 259px;
  }

  #loadPopup .modal-body {
    padding: 0px;
  }

  #chatPopup .modal-body {
    padding: 0px;
  }
}
.chat-detail-section {
  padding-left: 25px;
  padding-right: 25px;
}

.chat-person-name {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #140D32;
  margin-bottom: 0;
}

.close-modal {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background: transparent url("../images/closing-icon.svg") 0% 0% no-repeat padding-box;
}

.pill-style-bid {
  text-align: center;
  letter-spacing: 0px;
  font-size: 12px;
  padding: 4px 14px;
  font-weight: 300;
}

.pill-style-bid.lowest {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border-radius: 13px;
  color: #598FB1;
}

.pill-style-bid.general {
  background: #E9E9E9 0% 0% no-repeat padding-box;
  border-radius: 13px;
  color: #000000;
}

.order-detail-section {
  padding-left: 25px;
  padding-right: 25px;
}

.chat-type-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 11px 22px;
}

.send-text-icon {
  background-image: url("../images/send-chat-message.svg");
  display: inline-block;
  height: 37px;
  width: 37px;
  vertical-align: middle;
}

#chat-input-bar {
  outline: 0;
  border: 0px;
  height: 38px;
  width: calc(100% - 42px);
}

.individual-message-person {
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #001940;
  margin-bottom: 10px;
}

.individual-message-time {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #8698AD;
  opacity: 1;
}

.individual-message .individual-message-content {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.individual-message.outgoing .individual-message-content span {
  padding: 8px 16px;
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  letter-spacing: 0;
  color: #598FB1;
}

.individual-message.incoming .individual-message-content span {
  padding: 8px 16px;
  background: #F8F8F9 0% 0% no-repeat padding-box;
  border-radius: 4px;
  letter-spacing: 0;
  color: #001940;
}

.chat-all-messages {
  padding: 15px 25px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: calc(100% - 180px);
  max-height: calc(100% - 180px);
}

.individual-message.outgoing {
  /* text-align: right; */
  float: right;
}

.load-input-section {
  padding: 25px 25px;
}

.load-heading-name {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #111111;
  margin-bottom: 0;
}

.circular-step-count {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #DBDBDB;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-radius: 50%;
  padding: 7px 15px;
}

.circular-step-count.active {
  border-color: #598fb1;
  border-top-style: solid;
  color: #598fb1;
}

.wizard-bar-section .linebar {
  border: 2px solid #dbdbdb;
  display: inline-block;
  width: 295px;
}

.circular-step-name {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.54);
}

.circular-step-name.active {
  color: #598fb1;
}

.input-create-load {
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 8px;
}

.form-section-load .input-create-load.date-type {
  background-repeat: no-repeat;
  background-position: 8px 9px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAABHNCSVQICAgIfAhkiAAAAZJJREFUOE/tU00vA2EQnilSB6LHXnwcJBwc1B9QV6RbLrol0V9At+LkUmdpdntxcdBGtIToB3cOfgCJa0UiceBCXBzaHc9uLe0SKnE0yZN3Z+Z9n3d23nmYXKbqpQoxbebjSqoxNW+Up02R3Wpbx+DB0uRDY44dJ6IXgkSecQSSiN0ScaWJn8VPQsOIHWI9ySeUrJO3SXB7Bssi8AR0AXfAtatIP/wh4BnoBi68ZE5ktJlHVvVynEh03KzltZABwntm3srFQ2uNJKpRWkAFO+3M/VXhMSKzgHw2rykxkJTO4PjgjFqHIqli795KGL/z2eY2jkb2V2ev3qo3sC7jHFskAicNBxW1blG9HBOSbSYz4JA0n2Z6+ZJOqNMdr5kyVSdhPkfSQsuGF+kTkaiguTYJAus5TUm2zGD1DiPB5Dn9J/no2p/0xD0n1sT2YNgCv3kdvGrjxNa1w0LxXEJJt0Lk/Mq7dmy96KUiZkXB5w2ECHxn4kPW0tklVBy0VexsV/XjMJQJ0MDP1XDRS7WMRWDtfQVCXceEk7KnoQAAAABJRU5ErkJggg==");
  background-attachment: scroll;
  padding-left: 30px;
}

.input-create-load {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: #111111;
}

.form-section-load .input-create-load.time-type {
  background-repeat: no-repeat;
  background-position: 8px 9px;
  background-image: url("../images/clock-icon.svg");
  background-attachment: scroll;
  padding-left: 30px;
}

.signup-button-style .continue-icon {
  margin-left: 10px;
  background: transparent url("../images/continue-error.svg") 0% 0% no-repeat padding-box;
  display: inline-block;
  width: 5px;
  height: 9px;
}

.button-styling-continue {
  padding: 11px 88px !important;
}

.invite-message-heading {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0;
  color: #111111;
}

.invite-message-paragraph {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #111111;
}

.left-bar-section {
  background: #161E3C 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000000F;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
}

.client-designing-dd {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #161E3C;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: 0px solid transparent;
}

.icon-sidebar.category {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  vertical-align: middle;
}

.icon-sidebar.category {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAVlJREFUOE/Nk9FNw0AQRO0KgA7sCpJUAHTgdOBUkFABpAKgAkwFuANIBYQKcAdABWaetWeNTJD44CMrrbJ7mhvPzW7yvu9Psyy7VdZKj0bNVZ7nnxwKVwWuMFAXmDYXgAuA+B0uKSCHuBVRLcxc9atyp3wxogvV58oSol7FvS5sXI6O79SvdQ7mRvW18iwpBBuv+RhUBdFWAMBjpMtORO2YIEPI9jiI7GmDojYMwxMPPNvpNZUwmPqsBLs3EENgUAuImFAicyImVNn4a/V87MRAX6o3wjQ/zJua+dd+IArp7IPHm76E0iFC+XqCYe8eUc3TkPzwy5dXyA4SPMKTaeDZJUSdij2mOiKGMNN5qRrj+Rst1I9m2xBWx7FH4d3/bzYevSuXtjPs1pOy1FlhAwHjk8RXcEs8Ss2hwY0XhcPk2QEQazJPe1QIwBp4NAKgdoxQBjZFx3rQfANXp/tvvxU4AQAAAABJRU5ErkJggg==");
}

.icon-sidebar {
  display: inline-block;
  margin-right: 12.5px;
  margin-left: 17.5px;
}

.menu-ordering-individual-list {
  background: #10162D 0% 0% no-repeat padding-box;
  border-radius: 24px 0px 0px 24px;
}

.menu-ordering-individual-list {
  padding: 11.25px 0px 11.25px 17px;
}

li.menu-ordering-individual-list {
  list-style: none;
  margin-bottom: 20px;
}

.menu-ordering-list ul {
  padding-left: 0px;
}

.menu-ordering-individual-list {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.menu-ordering-individual-list a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-ordering-individual-list a:hover {
  text-decoration: none;
  color: #fff3cd;
}

.footer-ordering-individual-list {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

li.footer-ordering-individual-list {
  list-style: none;
}

.footer-ordering-individual-list a {
  text-decoration: none;
  color: #fff3cd;
}

.footing-icon-individual-list {
  margin-right: 15px;
  font-size: 24px;
  margin-bottom: 20px;
  vertical-align: sub;
  margin-left: 17.5px;
}

.footing-progress {
  display: inline-block;
  background-image: url("../images/progress-icon.svg");
}

.footing-progress {
  width: 70px;
  height: 5px;
}

.footer-ordering-list ul {
  padding-left: 0px;
}

.is-active {
  width: 6px;
  height: 6px;
  background: #E34863 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.copyright-sidebar-design {
  text-align: left;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0px;
  color: #7580A7;
}

@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
div[role=progressbar] {
  --size: 2rem;
  --fg: rgba(224, 146, 0, 1);
  --bg: rgba(213, 213, 213, 1);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 49%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 71%, transparent 0 100%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 2);
  color: var(--fg);
}

.each-table-row-load:hover .deletion-icon-style:active::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: #df4545;
  padding: 10px;
  background-color: #e08283;
  padding: 8px 10px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
}

.page-heading-style {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
  color: #111111;
  line-height: 35px;
}

.content-section-styling {
  width: calc(100% - 200px);
  padding: 20px 35px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background: #f8fafb 0 0 no-repeat padding-box;
}

.search-bar-design {
  height: 40px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 1px 1px #0000000f;
  border-radius: 6px;
  border: 0 solid transparent;
  outline: 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 15px 40px;
  color: #140d32;
  width: 100%;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 16px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAABHNCSVQICAgIfAhkiAAAAWBJREFUOE/Fk+FRg0AQRnM0INCASQUhHYQGnKSC2IGxArECUwJWYGYsIJSAFYQKIDYAvo+5Y4AhcfwlMwy7e/u93btbzGz0+L6/9jxv1zTNmqW5Xc7wj9jvF56+xDgHoW+M+cCX8BtbgkLriDd8lrwX7C2MzOlagBWfMBckJCQcpjoDqvjSQlRg1gKCIBAxUtuI87F41KVy78ldkVsY7RnyicDzVOWJTrTVQlssy/LRhGGYqnJVVe7ArjXQxdEc0DyhMYb2RctE+1VpE3pdxwI0AF4BJP8G0KnesZ/VHzrY0/Ub57DQLTgn7g/ILZjOTUNF0UiA9loInCEKMhjVMYgbSMh7sbmZm8R2FkjOb0Hc9ZH3SfWHbhJl0MgGSIqpW0nrum5H1T4RsT22ZqXk9WyhvPuZLGTOn6gWdxNn8EVckFxzw1fjHA8AfZGGpecXmnvn23MTxL8KmOhgEBJEW/oBLiPQha2U6yYAAAAASUVORK5CYII=");
}

.search-filter-utility {
  position: relative;
}

.filter-date-type {
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  outline: 0;
  border: 0 solid transparent;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  height: 40px;
  letter-spacing: 0;
  color: #140d32;
  width: 100%;
  padding: 14px 0 12px 40px;
}

.filter-control-feedback {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAABHNCSVQICAgIfAhkiAAAAZJJREFUOE/tU00vA2EQnilSB6LHXnwcJBwc1B9QV6RbLrol0V9At+LkUmdpdntxcdBGtIToB3cOfgCJa0UiceBCXBzaHc9uLe0SKnE0yZN3Z+Z9n3d23nmYXKbqpQoxbebjSqoxNW+Up02R3Wpbx+DB0uRDY44dJ6IXgkSecQSSiN0ScaWJn8VPQsOIHWI9ySeUrJO3SXB7Bssi8AR0AXfAtatIP/wh4BnoBi68ZE5ktJlHVvVynEh03KzltZABwntm3srFQ2uNJKpRWkAFO+3M/VXhMSKzgHw2rykxkJTO4PjgjFqHIqli795KGL/z2eY2jkb2V2ev3qo3sC7jHFskAicNBxW1blG9HBOSbSYz4JA0n2Z6+ZJOqNMdr5kyVSdhPkfSQsuGF+kTkaiguTYJAus5TUm2zGD1DiPB5Dn9J/no2p/0xD0n1sT2YNgCv3kdvGrjxNa1w0LxXEJJt0Lk/Mq7dmy96KUiZkXB5w2ECHxn4kPW0tklVBy0VexsV/XjMJQJ0MDP1XDRS7WMRWDtfQVCXceEk7KnoQAAAABJRU5ErkJggg==");
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 12px;
  height: 18px;
  margin-left: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
}

input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.toggle-style {
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.toggle-style .active {
  background: #598fb1 0 0 no-repeat padding-box;
  border-radius: 7px;
  padding: 5px 8px;
}
.toggle-style button {
  border: 0 solid transparent;
  outline: 0 solid transparent;
  padding: 0;
  background: transparent;
}

.list-layout-style {
  background: transparent;
}

.individual-load-detail {
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.06);
  padding: 17px;
  border-bottom: 2px solid #efefef;
}
.individual-load-detail .row.early-details {
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.load-name-style {
  text-align: left;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  color: #8698ad;
}

.load-weight-style {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  color: #111111;
}

.load-bids-btn {
  background: transparent linear-gradient(242deg, #76b8e2 0, #598fb1 100%) 0 0 no-repeat padding-box;
  border-radius: 8px;
  outline: 0;
  border: 0;
  color: white;
}
.load-bids-btn:focus {
  background: transparent linear-gradient(242deg, #76b8e2 0, #598fb1 100%) 0 0 no-repeat padding-box;
  border-radius: 8px;
  outline: 0;
  border: 0;
  color: #fff3cd;
}

.straight-bordering {
  border-left: 1px dashed #8698ad;
  height: 23px;
  width: 1px;
  display: block;
  position: relative;
  margin-left: 8px;
}

.address-styling {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 15px;
  letter-spacing: 0;
  color: #111111;
}

.lowest-bid-style {
  background: #d9ebf6 0 0 no-repeat padding-box;
  border-radius: 17px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: #598fb1;
  width: 100%;
  padding: 7.5px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.lowest-bid-style .bolder {
  font-weight: 600;
}

.bid-status {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
  color: #598fb1;
  border-radius: 17px;
  padding: 6px 15px;
  vertical-align: super;
}
.bid-status.open {
  background-color: #d9ebf6;
  color: #598fb1;
}
.bid-status.closed {
  background-color: #d91e18;
  color: white;
}

.time-left-heading {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  color: #8698ad;
  margin-bottom: 0;
}

.time-left-value-style {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 0;
  color: black;
}

.individual-progress-detail {
  padding: 17px 14px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.positioning-direction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
}

.search-result {
  background: white;
  padding: 20px 15px;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  width: 96%;
  z-index: 8;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  display: none;
}
.search-result.opened {
  display: block;
}
.search-result .search-category {
  background: white;
}
.search-result ul.search-category li {
  list-style: none;
  font-size: 12px;
}
.search-result ul.search-category li a {
  text-decoration: none;
  font-size: 12px;
}

.category-name-style {
  font-size: 14px;
}

.sorting-icon.down {
  width: 9px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  display: inline-block;
  background-image: url("../images/sorting-icon-down.svg");
}
.sorting-icon.up {
  width: 9px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  display: inline-block;
  background-image: url("../images/sorting-icon-down.svg");
  background-color: transparent;
  background-clip: padding-box;
  transform: rotateX(180deg);
}

.tabular-view .table {
  border-collapse: inherit;
  border-spacing: 0;
  border-spacing: 0 15px;
}
.tabular-view thead.layout-heading-style {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  cursor: pointer;
  color: #111111;
  opacity: 1;
}
.tabular-view tbody .generic-text-style {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
  color: #111111;
}

.bids-count-styling {
  text-align: left;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
  color: #598fb1;
}

.internal-pill.open {
  padding: 3px 10px;
  color: white;
  border-radius: 15px;
  background: #598fb1 0 0 no-repeat padding-box;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0;
}
.internal-pill.closed {
  padding: 3px 10px;
  color: white;
  border-radius: 15px;
  background: gainsboro 0 0 no-repeat padding-box;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0;
}

.load-pill.open {
  background-color: #76b8e2;
  border-radius: 15px;
  padding: 0;
  vertical-align: middle;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.load-pill.closed {
  background-color: #9f9f9f;
  border-radius: 15px;
  padding: 0;
  vertical-align: middle;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.each-table-row-load:hover .deletion-icon-style::before {
  content: "";
  opacity: 1;
  color: #8698ad;
  font-family: "Font Awesome 5 Free";
  border-radius: 50%;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #e8e8e8;
}
.each-table-row-load .deletion-icon-style::before {
  content: "";
  opacity: 1;
  color: #8698ad;
  font-family: "Font Awesome 5 Free";
  border-radius: 50%;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
}
.each-table-row-load td {
  padding: 15px 12px;
  vertical-align: middle;
}

.time-remaining-box {
  background: white 0 0 no-repeat padding-box;
  border-radius: 8px;
  padding: 15px 22px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.general-stats-box {
  background: white 0 0 no-repeat padding-box;
  border-radius: 8px;
  padding: 25px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.awarded-style {
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
  color: #8698ad;
  clear: both;
  display: block;
}

.star-awarded {
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-color: transparent;
  background-position: 0 0;
  background-clip: padding-box;
  display: inline-block;
  background-image: url("../images/star-awarded.svg");
  height: 33px;
  width: 33px;
}

.heading-style-stats {
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  color: #8698ad;
}

.value-style-stats {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: #111111;
}

.positional-play {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.bordered-gap.horizantal {
  border-top: 1px dashed #8698ad;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

tr.each-table-row-load {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 10px 0;
  background-color: white;
  margin-bottom: 15px;
}

.each-media-stats {
  margin-bottom: 30px;
}

.delivery-date-style {
  text-align: left;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #111111;
}

.subheading-bar-style {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #111111;
}

.load-filter-select {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 11px 18px;
  text-align: left;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  outline: 0;
  border-top-width: 0;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 0;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 0;
  border-left-style: solid;
  border-left-color: transparent;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: #140D32;
  box-shadow: 0 1px 1px #0000000f;
}

.bid-action.accept {
  width: 32px;
  height: 32px;
  visibility: hidden;
  display: inline-block;
  transition: opacity 250ms ease-in;
  cursor: pointer;
  background: transparent url("../images/accept-bid.svg") 0% 0% no-repeat padding-box;
}

.each-table-row-load:hover .bid-action.accept {
  visibility: visible;
}
.each-table-row-load:hover .bid-action.reject {
  visibility: visible;
}

.bid-action.reject {
  width: 32px;
  height: 32px;
  visibility: hidden;
  cursor: pointer;
  display: inline-block;
  transition: opacity 250ms ease-in;
  margin-right: 4px;
  background: transparent url("../images/discard-bid.svg") 0% 0% no-repeat padding-box;
}

.load-chat-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  margin-right: 0px;
  background: transparent url("../images/load-chat-icon.svg") 0% 0% no-repeat padding-box;
}

.incoming-chat-count {
  width: 19px;
  height: 19px;
  background: #E55353 0% 0% no-repeat padding-box;
  color: #FFF;
  font-size: 9px;
  padding: 1px 2px;
  border-radius: 50%;
  display: none;
}

.latest-message-style {
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #8698AD;
}

.value-style-stats.table-style {
  font-size: 12px;
  line-height: 22px;
  clear: both;
}

.heading-style-stats.table-style {
  font-size: 13px;
  line-height: 19px;
  clear: both;
  display: block;
}

table tr.separator {
  height: 10px;
}

.table-style-load {
  border-collapse: collapse !important;
}

.each-table-row-load.lowest {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid #598FB1;
  position: relative;
}

tr.each-table-row-load.lowest:after {
  content: "Lowest Bid";
  position: absolute;
  bottom: -7px;
  font-size: 8px;
  background: #598FB1 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #FFF;
  width: 84px;
  text-align: center;
  left: 50%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.center-everything {
  margin: 0 auto;
  text-align: center;
}

.mt-40 {
  margin-top: 40px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-350 {
  margin-top: 350px;
}

.mt-300 {
  margin-top: 300px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-175 {
  margin-top: 175px;
}

.ml-20 {
  margin-left: 20px;
}

.page-tab-design {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border: 0px solid transparent;
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 236px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.page-tab-design span {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5B92B5;
  cursor: pointer;
  opacity: 1;
  border-radius: 12px;
  padding: 6px 27px;
}

.page-tab-design span.active {
  background: #598FB1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;
  border-radius: 12px;
  color: #FFF;
  padding: 6px 27px;
}

.btn-styling.blue {
  background: #598FB1 0% 0% no-repeat padding-box;
}

.btn-styling.blue-transparent {
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid #598FB1;
  color: #598FB1;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.btn-styling {
  text-align: center;
  padding: 10px 40px;
  border-radius: 4px;
  border: 0px solid transparent;
  outline: 0;
  color: #FFF;
  letter-spacing: 0px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

.scrollX {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.scrollX::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6;
}

.scrollX::-webkit-scrollbar {
  height: 8px;
  background-color: #fff;
}

.scrollX::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #12202b;
}

.scrollX .scroll-list {
  width: -moz-max-content;
  width: max-content;
}

.scrollX .scroll-list .list-container {
  min-width: 325px;
  display: inline-block;
  vertical-align: top;
}

.scrollX.lighter::-webkit-scrollbar-track {
  border: none;
}

.scrollX.lighter::-webkit-scrollbar {
  height: 4px;
}

.scrollX.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrollX:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.scrollY {
  overflow-x: hidden;
  padding-right: 10px;
  overflow-y: auto;
}

.scrollY::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6;
}

.scrollY::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.scrollY::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #12202b;
}

.scrollY.scrollX {
  overflow-x: auto;
}

.scrollY.lighter::-webkit-scrollbar-track {
  border: none;
}

.scrollY.lighter::-webkit-scrollbar {
  width: 4px;
}

.scrollY.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrollY.lighter.scroll-visible::-webkit-scrollbar-thumb, .scrollY:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.page-tab-design-revised {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border: 0px solid transparent;
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.page-tab-design-revised span {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5B92B5;
  cursor: pointer;
  opacity: 1;
  border-radius: 12px;
  padding: 6px 27px;
}

.page-tab-design-revised span.active {
  background: #598FB1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;
  border-radius: 12px;
  color: #FFF;
  padding: 6px 27px;
}

.load-breadcrumb-design {
  text-align: left;
  letter-spacing: 0px;
  color: #8698AD;
  font-size: 12px;
  line-height: 24px;
}

.bolder {
  font-weight: 700;
}

.button-deletion-icon {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  height: 15px;
  width: 15px;
}

.button-deletion-icon {
  background-image: url("../images/delete-bin.svg");
  display: inline-block;
}

.mt-10 {
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.padder-left-only {
  padding-left: 15px !important;
  padding-right: 0px;
}

.padder-right-only {
  padding-left: 0px;
  padding-right: 15px !important;
}

.form-group .error {
  font-size: 8px;
  width: 100%;
  clear: both;
  color: #d91e18;
  display: block;
}

.form-group .not-filled {
  border-color: #d91e18;
}

/*# sourceMappingURL=index.css.map */
