.left-bar-section {
  background: #161E3C 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000000F;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
}

.client-designing-dd {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #161E3C;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: 0px solid transparent;
}

.icon-sidebar.category {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  vertical-align: middle;
}

.icon-sidebar.category {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAVlJREFUOE/Nk9FNw0AQRO0KgA7sCpJUAHTgdOBUkFABpAKgAkwFuANIBYQKcAdABWaetWeNTJD44CMrrbJ7mhvPzW7yvu9Psyy7VdZKj0bNVZ7nnxwKVwWuMFAXmDYXgAuA+B0uKSCHuBVRLcxc9atyp3wxogvV58oSol7FvS5sXI6O79SvdQ7mRvW18iwpBBuv+RhUBdFWAMBjpMtORO2YIEPI9jiI7GmDojYMwxMPPNvpNZUwmPqsBLs3EENgUAuImFAicyImVNn4a/V87MRAX6o3wjQ/zJua+dd+IArp7IPHm76E0iFC+XqCYe8eUc3TkPzwy5dXyA4SPMKTaeDZJUSdij2mOiKGMNN5qRrj+Rst1I9m2xBWx7FH4d3/bzYevSuXtjPs1pOy1FlhAwHjk8RXcEs8Ss2hwY0XhcPk2QEQazJPe1QIwBp4NAKgdoxQBjZFx3rQfANXp/tvvxU4AQAAAABJRU5ErkJggg==");
}

.icon-sidebar {
  display: inline-block;
  margin-right: 12.5px;
  margin-left: 17.5px;
}

.menu-ordering-individual-list {
  background: #10162D 0% 0% no-repeat padding-box;
  border-radius: 24px 0px 0px 24px;
}

.menu-ordering-individual-list {
  padding: 11.25px 0px 11.25px 17px;
}

li.menu-ordering-individual-list {
  list-style: none;
  margin-bottom: 20px;
}

.menu-ordering-list ul {
  padding-left: 0px;
}

.menu-ordering-individual-list {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.menu-ordering-individual-list a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-ordering-individual-list a:hover {
  text-decoration: none;
  color: #fff3cd;
}

.footer-ordering-individual-list {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

li.footer-ordering-individual-list {
  list-style: none;
}

.footer-ordering-individual-list a {
  text-decoration: none;
  color: #fff3cd;
}

.footing-icon-individual-list {
  margin-right: 15px;
  font-size: 24px;
  margin-bottom: 20px;
  vertical-align: sub;
  margin-left: 17.5px;
}

.footing-progress {
  display: inline-block;
  background-image: url("../images/progress-icon.svg");
}

.footing-progress {
  width: 70px;
  height: 5px;
}

.footer-ordering-list ul {
  padding-left: 0px;
}

.is-active {
  width: 6px;
  height: 6px;
  background: #E34863 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.copyright-sidebar-design {
  text-align: left;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0px;
  color: #7580A7;
}

.page-heading-style {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
  color: #111111;
  line-height: 35px;
}

.content-section-styling {
  margin-top: 20px;
}

.content-section-styling {
  width: calc(100% - 200px);
  padding: 20px 35px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background: #f8fafb 0% 0% no-repeat padding-box;
}

.search-bar-design {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000000F;
  border-radius: 6px;
  border: 0px solid transparent;
  outline: 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 16px 11px;
  opacity: 0.48;
}

.search-bar-design {
  color: #140d32;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.center-everything {
  margin: 0 auto;
  text-align: center;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-350 {
  margin-top: 350px;
}

.mt-300 {
  margin-top: 300px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-175 {
  margin-top: 175px;
}

.ml-20 {
  margin-left: 20px;
}

.page-tab-design {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border: 0px solid transparent;
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 236px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.page-tab-design span {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5B92B5;
  cursor: pointer;
  opacity: 1;
  border-radius: 12px;
  padding: 6px 27px;
}

.page-tab-design span.active {
  background: #598FB1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;
  border-radius: 12px;
  color: #FFF;
  padding: 6px 27px;
}

.btn-styling.blue {
  background: #598FB1 0% 0% no-repeat padding-box;
}

.btn-styling {
  text-align: center;
  padding: 10px 40px;
  border-radius: 4px;
  border: 0px solid transparent;
  outline: 0;
  color: #FFF;
  letter-spacing: 0px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
