@import "sidemenu";
@import "_bodycontent";

body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}


.center-everything {
  margin: 0 auto;
  text-align: center;
}


.mt-15 {
  margin-top: 15px;
}


.mt-20 {
  margin-top: 20px;
}


.mt-350 {
  margin-top: 350px;
}


.mt-300 {
  margin-top: 300px;
}


.mb-20 {
  margin-bottom: 20px;
}

.mt-150 {
  margin-top: 150px;
}


.mt-200 {
  margin-top: 200px;
}


.mt-175 {
  margin-top: 175px;
}


.ml-20 {
  margin-left: 20px;
}


.page-tab-design {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border: 0px solid transparent;
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 236px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.page-tab-design span {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5B92B5;
  cursor: pointer;

  opacity: 1;
  border-radius: 12px;
  padding: 6px 27px;
}

.page-tab-design span.active {
  background: #598FB1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;

  border-radius: 12px;
  color: #FFF;
  padding: 6px 27px;
}


.btn-styling.blue {
  background: #598FB1 0% 0% no-repeat padding-box;
}

.btn-styling.blue-transparent {
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid #598FB1;
  color: #598FB1;

  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.btn-styling {
  text-align: center;
  padding: 10px 40px;
  border-radius: 4px;
  border: 0px solid transparent;
  outline: 0;
  color: #FFF;

  letter-spacing: 0px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}


.scrollX {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px
}

.scrollX::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6
}

.scrollX::-webkit-scrollbar {
  height: 8px;
  background-color: #fff
}

.scrollX::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #12202b
}

.scrollX .scroll-list {
  //width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.scrollX .scroll-list .list-container {
  min-width: 325px;
  display: inline-block;
  vertical-align: top
}

.scrollX.lighter::-webkit-scrollbar-track {
  border: none
}

.scrollX.lighter::-webkit-scrollbar {
  height: 4px
}

.scrollX.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.scrollX:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc
}

.scrollY {
  overflow-x: hidden;
  padding-right: 10px;
  overflow-y: auto
}

.scrollY::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6
}

.scrollY::-webkit-scrollbar {
  width: 8px;
  background-color: #fff
}

.scrollY::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #12202b
}

.scrollY.scrollX {
  overflow-x: auto
}

.scrollY.lighter::-webkit-scrollbar-track {
  border: none
}

.scrollY.lighter::-webkit-scrollbar {
  width: 4px
}

.scrollY.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.scrollY.lighter.scroll-visible::-webkit-scrollbar-thumb, .scrollY:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc
}


.page-tab-design-revised {
  background: #D9EBF6 0% 0% no-repeat padding-box;
  border: 0px solid transparent;
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  //width: 236px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.page-tab-design-revised span {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5B92B5;
  cursor: pointer;

  opacity: 1;
  border-radius: 12px;
  padding: 6px 27px;
}

.page-tab-design-revised span.active {
  background: #598FB1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;

  border-radius: 12px;
  color: #FFF;
  padding: 6px 27px;
}


.load-breadcrumb-design {
  text-align: left;
  letter-spacing: 0px;
  color: #8698AD;
  font-size: 12px;
  line-height: 24px;
}

.bolder {
  font-weight: 700;
}

.button-deletion-icon {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  height: 15px;
  width: 15px;
}

.button-deletion-icon {
  background-image: url('../images/delete-bin.svg');
  display: inline-block;
}

.mt-10 {
  margin-top: 10px;
}

.full-width {
  width: 100%;
}


.padder-left-only {
  padding-left: 15px !important;
  padding-right: 0px;
}

.padder-right-only {
  padding-left: 0px;
  padding-right: 15px !important;
}

.mt-40 {
  margin-top: 40px;
}




.mt-120
{
  margin-top: 120px;
}
